header {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
  }
  
  nav {
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-right: 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  footer {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
    margin-top: auto;
    justify-content: center;
    display: flex;
  }

  .social {
    display: flex;
    justify-content: center;
  }
  
  .social a {
    margin: 0 5px;
    color: #fff;
    text-decoration: none;
  }

  body {
    background: #1e1e2f;
    color: #ffffff;
    font-family: arial, sans-serif;
  }
  
  .item {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
  }
  .item .image {
    padding: 1em 2em;
  }
  .item .image > div {
    position: relative;
    text-align: center;
    font-size: 0.8em;
  }
  .item .image > div::after {
    content: "";
    width: 100%;
    height: 0;
    border-bottom: 1px solid #232b50;
    position: absolute;
    top: 2.75em;
    left: 2.5em;
    z-index: -1;
  }
  .item .image img {
    border-radius: 50%;
    height: 5em;
    border: 0.35em solid #5ed3bf;
    width: 120px; 
    height: 100px;
  }
  .item .image span {
    display: block;
    clear: both;
    padding: 0.25em 0;
    margin: 0.5em 0;
    background: #3b4262;
  }
  .item .details {
    position: relative;
    flex-grow: 1;
  }
  .item .details > div {
    border: 1px solid #232b50;
    border-radius: 0.5em;
    padding: 1.5em;
    margin: 1em 0;
  }
  .item .details > div h1 {
    color: #5ed3bf;
    font-size: 1.4em;
    margin: 0;
    padding: 0 0 0.5em 0;
    letter-spacing: 0.1em;
  }
  .item .details > div p {
    margin: 0;
    padding: 0;
    line-height: 150%;
  }
  .item .details::before {
    content: "";
    width: 0;
    height: 100%;
    border-left: 1px solid #232b50;
    position: absolute;
    top: 0;
    left: -4.35em;
    z-index: -1;
  }